<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Xbox Games</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark fixed-top">
        <span class="navbar-brand" style="margin-left: 10px">
            Xbox Games
        </span>
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/games">Games</a>
            </li>
        </ul>
    </nav>

    <img style="width: 100%" src="https://pbs.twimg.com/media/FIgoewkVkAAH3pi?format=jpg&name=large">

    <div class="container mt-5">
        <p class="text-center">Browse our selection of recommended Xbox Games</p>
        <br>
        <div class="col text-center">
            <a href="/games" class="btn btn-success" role="button">Browse Games</a>
        </div>
    </div>




    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/app.js"></script>
    

</body>
</html>